#display1 {
	display: none;
}

#display2 {
	display: none;
}

#display3 {
	display: none;
}

#display4 {
	display: none;
}

#display5 {
	display: none;
}

#display6 {
	display: none;
}

#pokemonpicker {
	background-color: #dc0b2d;
	width: 100vw;
}

#pokemonpickerwrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pokemonlistcontainer {
	background-color: white;
	height: auto;
	max-height: 75vh;
	width: 95vw;
	border-radius: 10px;
	overflow: auto;
	overflow-x: hidden;
}

#pokemonlistcontainer::-webkit-scrollbar {
	width: 0px;
}

.generation-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	background-color: rgba(175, 175, 175, 0.5);
	border-radius: 10px;
}

.generation-list::-webkit-scrollbar {
	width: 0px;
}

.generation-title-wrapper {
	position: sticky;
	margin: 20px;
	width: 90%;
	display: inline-flex;
	justify-content: space-between;
}

.generation-title {
	font-size: 24pt;
	font-weight: bold;
}
.generation-btn {
	font-size: 20pt;
}

.generation-display {
	border-top: 3px solid white;
	border-radius: 0px 0px 10px 10px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: inherit;
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.generation-display::-webkit-scrollbar {
	width: 0px;
}
